.services {
    margin-bottom: 180px;
}

.services__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 18px);
    min-height: 476px;
    border-radius: 5px;
    padding: 36px 34px 52px 22px;
    background-color: #fff;
    color: #666666;
}

.services__header {
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
}

.services__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.services__title {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 17px;
}

.services__desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.services__desc-block {
    padding: 0px 50px 0px 0px;
}

.services__desc-block:last-child {
    padding: 0px 0px 0px 24px;
}

.services__desc-block-text-num {
    font-weight: bold;
    color: black;
}

.services__text {
    font-size: 14px;
    margin-bottom: 28px;
}

.services__button-wrapper {
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: flex-start;
}

